[submodule "modules/mod-playerbots"]
	path = modules/mod-playerbots
	url = https://github.com/der-faebu/mod-playerbots.git
[submodule "modules/mod-ah-bot"]
	path = modules/mod-ah-bot
	url = https://github.com/azerothcore/mod-ah-bot.git
[submodule "modules/mod-aoe-loot"]
	path = modules/mod-aoe-loot
	url = https://github.com/azerothcore/mod-aoe-loot.git
[submodule "modules/mod-assistant"]
	path = modules/mod-assistant
	url = https://github.com/noisiver/mod-assistant.git
[submodule "modules/mod-npc-enchanter"]
	path = modules/mod-npc-enchanter
	url = https://github.com/azerothcore/mod-npc-enchanter.git
[submodule "modules/mod-random-enchants"]
	path = modules/mod-random-enchants
	url = https://github.com/azerothcore/mod-random-enchants.git
[submodule "modules/mod-reagent-bank"]
	path = modules/mod-reagent-bank
	url = https://github.com/ZhengPeiRu21/mod-reagent-bank.git
[submodule "modules/mod-solocraft"]
	path = modules/mod-solocraft
	url = https://github.com/azerothcore/mod-solocraft.git
[submodule "modules/DungeonRespawn"]
	path = modules/DungeonRespawn
	url = https://github.com/AnchyDev/DungeonRespawn.git
[submodule "modules/mod-transmog"]
	path = modules/mod-transmog
	url = https://github.com/azerothcore/mod-transmog.git
[submodule "modules/mod-anticheat"]
	path = modules/mod-anticheat
	url = https://github.com/azerothcore/mod-anticheat.git
